// Crie um arquivo chamado github_oauth_credentials.dart nesta mesma pasta e cole suas chaves abaixo:
const githubClientId = 'COLOQUE_SEU_CLIENT_ID_AQUI';
const githubClientSecret = 'COLOQUE_SEU_CLIENT_SECRET_AQUI';

const githubScopes = ['repo', 'read:org'];